# General
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
*.swo
*.bak
*.orig
*.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.egg-info/
*.eggs/
*.whl
*.manifest
*.spec

# Virtual Environments
venv/
env/
ENV/
.venv/
.ENV/

# Jupyter Notebooks
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# Coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
*.py,cover
.hypothesis/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/


